<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- Encabezado de días -->
    <ion-row style="border-bottom: 2px solid black;">
      <ion-col size="3" style="background-color: #fff; border: 1px solid black; color: #0000FF;"><strong>Estudiante</strong></ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;"><strong>Lunes</strong></ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;"><strong>Martes</strong></ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;"><strong>Miércoles</strong></ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;"><strong>Jueves</strong></ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;"><strong>Viernes</strong></ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;"><strong>Sábado</strong></ion-col>
      <ion-col size="2" style="background-color: #fff; border: 1px solid black; color: #0000FF;"><strong>Días Ausentes</strong></ion-col>
      <ion-col size="2" style="background-color: #fff; border: 1px solid black; color: #0000FF;"><strong>Asistencias</strong></ion-col>
    </ion-row>

    <!-- Registro de estudiante 1 -->
    <ion-row style="border-bottom: 1px solid black;">
      <ion-col size="3" style="background-color: #fff; border: 1px solid black; color: #0000FF;">Juan Pérez</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">A</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">A</ion-col>
      <ion-col size="2" style="background-color: #fff; border: 1px solid black; color: #0000FF;">2</ion-col>
      <ion-col size="2" style="background-color: #fff; border: 1px solid black; color: #0000FF;">4</ion-col>
    </ion-row>

    <!-- Registro de estudiante 2 -->
    <ion-row style="border-bottom: 1px solid black;">
      <ion-col size="3" style="background-color: #fff; border: 1px solid black; color: #0000FF;">María Gómez</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">A</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">A</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="2" style="background-color: #fff; border: 1px solid black; color: #0000FF;">2</ion-col>
      <ion-col size="2" style="background-color: #fff; border: 1px solid black; color: #0000FF;">4</ion-col>
    </ion-row>

    <!-- Registro de estudiante 3 -->
    <ion-row style="border-bottom: 1px solid black;">
      <ion-col size="3" style="background-color: #fff; border: 1px solid black; color: #0000FF;">Carlos Sánchez</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">A</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">A</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="1" style="background-color: #fff; border: 1px solid black; color: #0000FF;">P</ion-col>
      <ion-col size="2" style="background-color: #fff; border: 1px solid black; color: #0000FF;">2</ion-col>
      <ion-col size="2" style="background-color: #fff; border: 1px solid black; color: #0000FF;">4</ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
