<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asignatura</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>

    <!-- Encabezado -->
    <ion-row style="border-bottom: 1px solid #555;">
      <ion-col size="3" style="background-color: #333; color: #fff;"><strong>Asignatura</strong></ion-col>
      <ion-col size="2" style="background-color: #333; color: #fff;"><strong>Sección</strong></ion-col>
      <ion-col size="3" style="background-color: #333; color: #fff;"><strong>Horario</strong></ion-col>
      <ion-col size="4" style="background-color: #333; color: #fff;"><strong>Profesor</strong></ion-col>
    </ion-row>

    <!-- Lunes -->
    <ion-row style="border-bottom: 1px solid #777;">
      <ion-col size="3" style="background-color: #444; color: #fff;">Matemáticas</ion-col>
      <ion-col size="2" style="background-color: #444; color: #fff;">A1</ion-col>
      <ion-col size="3" style="background-color: #444; color: #fff;">Lunes 10:00 - 12:00</ion-col>
      <ion-col size="4" style="background-color: #444; color: #fff;">Prof. García</ion-col>
    </ion-row>
    
    <!-- Martes -->
    <ion-row style="border-bottom: 1px solid #777;">
      <ion-col size="3" style="background-color: #555; color: #fff;">Física</ion-col>
      <ion-col size="2" style="background-color: #555; color: #fff;">B1</ion-col>
      <ion-col size="3" style="background-color: #555; color: #fff;">Martes 08:00 - 10:00</ion-col>
      <ion-col size="4" style="background-color: #555; color: #fff;">Prof. Pérez</ion-col>
    </ion-row>

    <!-- Miércoles -->
    <ion-row style="border-bottom: 1px solid #777;">
      <ion-col size="3" style="background-color: #666; color: #fff;">Química</ion-col>
      <ion-col size="2" style="background-color: #666; color: #fff;">C1</ion-col>
      <ion-col size="3" style="background-color: #666; color: #fff;">Miércoles 11:00 - 13:00</ion-col>
      <ion-col size="4" style="background-color: #666; color: #fff;">Prof. López</ion-col>
    </ion-row>

    <!-- Jueves -->
    <ion-row style="border-bottom: 1px solid #777;">
      <ion-col size="3" style="background-color: #777; color: #fff;">Historia</ion-col>
      <ion-col size="2" style="background-color: #777; color: #fff;">D1</ion-col>
      <ion-col size="3" style="background-color: #777; color: #fff;">Jueves 09:00 - 11:00</ion-col>
      <ion-col size="4" style="background-color: #777; color: #fff;">Prof. Fernández</ion-col>
    </ion-row>

    <!-- Viernes -->
    <ion-row style="border-bottom: 1px solid #777;">
      <ion-col size="3" style="background-color: #888; color: #fff;">Inglés</ion-col>
      <ion-col size="2" style="background-color: #888; color: #fff;">E1</ion-col>
      <ion-col size="3" style="background-color: #888; color: #fff;">Viernes 14:00 - 16:00</ion-col>
      <ion-col size="4" style="background-color: #888; color: #fff;">Prof. Martínez</ion-col>
    </ion-row>

    <!-- Sábado -->
    <ion-row style="border-bottom: 1px solid #777;">
      <ion-col size="3" style="background-color: #999; color: #fff;">Educación Física</ion-col>
      <ion-col size="2" style="background-color: #999; color: #fff;">F1</ion-col>
      <ion-col size="3" style="background-color: #999; color: #fff;">Sábado 08:00 - 10:00</ion-col>
      <ion-col size="4" style="background-color: #999; color: #fff;">Prof. Rodríguez</ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
