<ion-menu contentId="menu-content" menuId="menu-content" side="end" type="overlay">
  <ion-header>
    <ion-toolbar>
    <img slot="start" src="assets/img/agregar-usuario.png" alt="Logo" class="imagen-logo-toolbar">
    <ion-title class="fuente-titulo">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-item routerLink="/asignatura">
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-label>Asignaturas</ion-label>
    </ion-item>

    <ion-item routerLink="/asistencia">
      <ion-icon name="menu" slot="start"></ion-icon>
      <ion-label>Asistencias</ion-label>
    </ion-item>

    <ion-item routerLink="/registrar">
      <ion-icon name="star-outline" slot="start"></ion-icon>
      <ion-label>Registrar Asistencia</ion-label>
    </ion-item>

  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-menu-toggle slot="end">
        <ion-button>Cerrar
          <ion-icon slot="start" name="arrow-undo-outline" expand="block"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<div class="ion-page" id="menu-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
        <ion-icon class="LogOut" name="log-out-outline"  slot="end" (click)="logout()">
          
        </ion-icon>
       
      
      <img slot="start" src="assets/img/agregar-usuario.png" alt="Logo" class="imagen-logo">
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="welcome-box">
      <h1>Bienvenido Usuario1!!! 😊</h1>
      <p>Nos alegra verte de nuevo en la app.</p>
    </div>
      </ion-content>
</div>